<h1><%= @user.email %></h1>

<% @user.boards.each do |board| %>
  <%= link_to board_path(board) do %>
    <div class="board-card">
      <div class="board-card-photos"></div>
      <h4><%= board.title %></h4>
    </div>
  <% end %>
<% end %>
