<%= render 'components/page_header', header: "#{@user.email}", back: true %>

<div class="boards">
  <% @user.boards.each do |board| %>
    <%= render 'boards/board', board: board %>
  <% end %>
</div>
