<% if absolute %>
  <div class="navbar absolute flex-space-between">
<% else %>
  <div class="navbar sticky flex-space-between">
<% end %>
  <%= render partial: 'components/logo' %>
  <div class="navbar-right">
    <% if current_user %>
      <%= render 'components/create_dropdown' %>
    <% end %>
    <%= render 'components/account_dropdown' %>
  </div>
</div>
