<div class="pages-navbar flex-space-between">
  <%= link_to root_path do %>
    <h3 id="logo">trip.it</h3>
  <% end %>
  <div class="navbar-right font-sml-med">
    <% if current_user %>
      <%= render 'components/create_dropdown' %>
    <% end %>
    <%= render 'components/account_dropdown' %>
  </div>
</div>
