<div class="page-header">
  <!-- header position absolute center -->
  <h1 class="text-center"><%= header %></h1>

  <% if back %>
    <%= link_to :back, class: "back-button" do %>
      <%= render 'icons/arrow_left' %>
    <% end %>
  <% end %>
</div>
