$primary: #FF6941;
$secondary: #FFAA00;

// blacks
$black: black;
$black90: #191919;
$black80: #333333;
$black70: #4C4C4C;
$black60: #666666;
$black50: #7F7F7F;
$black40: #999999;
$black30: #B2B2B2;
$black20: #CCCCCC;
$black10: #E5E5E5;
$black5: #F2F2F2;
$black2: #F9F9F9;
$white: white;

$error-red: #ff4b4b;

