<div class="search-page-container">
  <div class="search-page-results">
    <h3><%= @posts.count %> results found</h3>
    <!-- results go here -->
    <%= will_paginate @posts %>
    <% @posts.each do |post| %>
      <%= render 'posts/post', post: post %>
    <% end %>
  </div>
</div>
