<div class="search-page-results">
  <div class="search-sub-navbar">
    <div class="search-info">
      <h3 class="font-lrg">Places near <%= params[:name] %></h3>
      <h4><%= @posts.total_entries %> results found</h4>
    </div>
  </div>

  <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "percentageWidth": true }'>
    <% @posts.each do |post| %>
      <div class="grid-item">
        <%= render 'posts/post', post: post %>
      </div>
    <% end %>
  </div>

  <%= render 'components/pagination', items: @posts %>
</div>
