<div class="page-container flex-center flex-direction-column">
  <h1 class="text-center">Discover places, find inspiration</br>& go explore</h1>
  <%= render partial: 'search/search_bar' %>

  <!-- <div id="geocoder" data-controller="place-search"></div> -->
</div>
