<div class="home-page-container">
  <div class="home-banner flex-center flex-direction-column">
    <h1 class="text-center">Discover places, find inspiration</br>& go explore</h1>
    <%= render partial: 'search/search_bar' %>
  </div>
</div>
