.avatar-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.avatar {
  border-radius: 20px;
  background: $black10;
  border: 1px solid white;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
  box-fit: cover;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
  }
}
