#map {
  .mapboxgl-popup-close-button {
    display: none
  }

  .mapboxgl-popup-content {
    border-radius: 14px;
    padding: 3px;

    .mapbox-popup-photo {
      border-radius: 11px;
      overflow: hidden;
    }
  }

  .mapboxgl-popup-anchor-top-left .mapboxgl-popup-content {
    border-top-left-radius: 0;
  }

  .mapboxgl-popup-anchor-top-right .mapboxgl-popup-content {
    border-top-right-radius: 0;
  }

  .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-content {
    border-bottom-right-radius: 0;
  }
  .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-content {
    border-bottom-left-radius: 0;
  }
}

.side-map-sticky {
  width: 33%;
  height: 100%;
  position: sticky;
  flex-shrink: 0;
  top: 70;

  .mapboxgl-ctrl-bottom-left .mapboxgl-ctrl {
    margin: 0 0 10px 40px;
  }
}
