.save-button {
  padding: 5px 10px;
  padding-left: 5px;
  background: $primary;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  h4 {
    margin: 0px;
    margin-left: 5px;
    color: $white;
  }

  &:hover {
    background: $primaryLight;
    opacity: 0.9;
  }
}

.save-button.saved {
  background: $primaryLight;

  h4 {
    color: $primary;
  }
}
