.navbar {
  padding: 15px 30px;
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  width: 100vw;
  height: 70px;
  background-color: white;
  z-index: 1;
}

#logo {
  margin: 0px;
}

.navbar-right {

}
