.navbar {
  padding: 15px 30px;
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  width: 100vw;
  height: 70px;
  background-color: white;
  z-index: 1;
}

.pages-navbar {
  padding: 15px 45px;
  position: fixed;
  top: 0; /* required */
  left: 0;
  width: 100vw;
  height: 70px;
  z-index: 1;

  .navbar-right {
    a {
      margin-left: 10px;
    }
  }
}

#logo {
  margin: 0px;
}

.navbar-right {

}
