// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.post-card {
  position: relative;
  overflow: hidden;
  border-radius: 15px;

  .card-save {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
  }

  .location {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: none;

    .location-info {
      background-color: $white;
      border-radius: 10px;
      padding: 6px;

      h3 {
        margin: 0px;
        margin-left: 3px;
        color: $black50;
      }

      &:hover {
        h3 {
          color: $black;
        }
      }
    }
  }

  img {
    width: 100%;
    border-radius: 15px;
    // transition: ease 0.05s;
    filter: brightness(1);
    transform: scale(1);
    transition: ease .05s;
  }

  .post-info {
    display: flex;

    .title-and-location {
      margin-left: 5px;

      .title {
        margin: 0px;
        margin-bottom: 3px;
        margin-top: 4px;
        font-weight: 500;
      }

      .location-info {
        .location-title {
          margin: 0px;
          margin-left: 3px;
          color: $primary;
        }
      }
    }
  }
}

.post-card.active {
  // border: 3px solid red
}


.post-card {
  &:hover {
    .card-save, .location {
      display: block;
    }

    img {
      filter: brightness(0.8);
      transform: scale(1.1);
    }
  }
}

// GRID
.grid {
  margin: -5px;

  .grid-item {
    position: absolute;
    left: 0px;
    top: 0px;
    width: calc(100% / 3);
    padding: 8px;
    border-radius: 18px;
  }
}

// SHOW PAGE
.post-show {
  width: 100%;
  max-width: 950px;
  padding: 60px;
  padding-top: 30px;
  margin: 0px auto;

  .post-show-photo-and-info {
    display: flex;
    padding-bottom: 40px;
    border-bottom: 1px solid $black5;

    .photo {
      width: 50%;
      border-radius: 20px;
      flex-shrink: 0;
    }

    .post-info {
      flex: 1 1 50%;
      padding: 0px 20px;

      h1 {
        margin: 0px;
        margin-top: 15px;
        margin-bottom: 10px;
      }

      .description {
        margin: 0px;
        margin-bottom: 20px;
      }

      .post-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        .options-button {
          height: 40px;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 20px;

          &:hover {
            background: $black5;
            opacity: 1;
          }
        }
      }

      .user-saved-to {
        h5 {
          margin: 0px;
          margin-bottom: 6px;
          margin-left: 4px;
          display: inline;
          color: $black40;
        }

        a {
          margin-bottom: 6px;

          h5 {
            margin-bottom: 0px;
            color: $black;
            font-weight: 500
          }
        }
      }
    }
  }

  .location-section {
    padding-top: 30px;

    h2 {
      margin-bottom: 10px;
    }

    #map {
      width: 100%;
      height: 450px;
      border-radius: 20px;
    }
  }
}

// NEW PAGE
.post-form {
  display: flex;
  flex-wrap: wrap;
  max-width: 350px;
  margin-bottom: 100px;

  #error_explanation {
    width: 100%;
    background: $black2;
    border-radius: 10px;
    padding: 30px;
    margin: 25px;
    margin-top: 0px;

    li {
      list-style: none;
    }
  }

  .field {
    width: 100%;

    .photo-upload {
      background: $black5;
      border-radius: 20px;
      min-height: 350px;
    }
  }

  .actions {
    width: 100%;
  }
}

