/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*-- colors --*/
/*$primary: black;
$secondary: gray;
$black: black;
$error-red: #ff4b4b;*/

body {
  font-family: GT Walsheim Pro;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: black;
}

div {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: GT Walsheim Pro;
  font-weight: 500;
  color: black;
  margin: 0px;
  margin-bottom: 30px;
}

h4, h5, h6 {
  font-family: GT Walsheim Pro;
  font-weight: 400;
  color: black;
  margin: 0px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
  opacity: 1;
  transition: ease 0.2s
}

a:hover {
  opacity: 0.5;
}

input {
  font-family: GT Walsheim Pro;
  font-weight: 400;
  background-color: #ececec;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 10px 15px;
}

.button-sml {
  padding: 5px 10px;
  border-radius: 12px;
  border: 1px solid black;
  font-size: 15px;
}

.button-med {
  padding: 10px 15px;
  border-radius: 15px;
  border: 1px solid black;
}

.button-lrg {
  padding: 12px 20px;
  border-radius: 20px;
  border: 1px solid black;
  font-size: 20px;
}

.button-color {
  background: black;
  color: white;
}

.page-container {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  padding-bottom: 10%;
}

.display-none {
  display: none
}

.text-center {
  text-align: center
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center
}

.flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-direction-column {
  flex-direction: column;
}

/*// FONTS*/
@font-face {
  font-family: "GT Walsheim Pro";
  src: asset-url('GT-Walsheim-Pro-Regular.woff2') format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: asset-url('GT-Walsheim-Pro-Medium.woff2') format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: asset-url('GT-Walsheim-Pro-Bold.woff2') format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: asset-url('GT-Walsheim-Pro-Black.woff2') format("woff2");
  font-weight: 800;
}
