// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.search-page-container {
  display: flex;
  height: calc(100vh - 70px);
  width: 100vw;
  position: sticky;
  top: 70;

  .search-page-results {
    height: 100%;
    flex-grow: 1;
    padding: 20px;
    overflow: scroll
  }
}
